<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link th:href="@{assets/select2-develop/dist/css/select2.css}" th:rel="stylesheet"/>
    <link th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}" th:rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body>


<tr th:each="arti: ${art}">


    <td th:text="${arti.getAuthor}"/>
    <br><br>
    <td th:text="${arti.getTitle}"/>
    <br><br>
    <td th:text="${arti.getDescription}"/>
    <br><br>
    <td th:text="${arti.getUrlToArticle}"/>
    <br><br>
    <td th:text="${arti.getUrlToImage}"/>


    <p>------------------------</p>

</tr>

</body>
</html>